{{comment .copyright}}
{{if .license}}{{comment .license}}{{end}}

package {{.cmdPackage}}

import (
	"fmt"
	"github.com/spf13/mamba"
)

// {{.cmdName}}Cmd represents the {{.cmdName}} command
var {{.cmdName}}Cmd = &mamba.Command{
	Version:      "v0.1.1",
	Dependencies: nil,
	PreRun: func(svc *mamba.Command, ctx context.Context) {
		fmt.Println("Welcome "+os.Getenv("USER")+"!")
	},
	Login: func(writer http.ResponseWriter, request *http.Request) {
		fmt.Fprintf(writer, "this is where your users will login")
	},
	Home: func(writer http.ResponseWriter, request *http.Request) {
		fmt.Fprintf(writer, "this is where your web app will be located")

	},
	FAQ: func(writer http.ResponseWriter, request *http.Request) {
		fmt.Fprintf(writer, "this is where your users will go for help")
	},
}

func init() {
	root.AddCommand({{.cmdName}}Cmd)
}