package cmd

import (
        "github.com/spf13/cobra"
        "fmt"
        "github.com/{{common.github_username}}/{{common.app_name}}/version"
)

// versionCmd represents the version command
var versionCmd = &cobra.Command{
        Use:   "version",
        Short: "Print the version number of {{common.app_name}}",
        Long:  `All software has versions. This is {{common.app_name}}`,
        Run: func(cmd *cobra.Command, args []string) {
                fmt.Println("Build Date:", version.BuildDate)
                fmt.Println("Git Commit:", version.GitCommit)
                fmt.Println("Version:", version.Version)
                fmt.Println("Go Version:", version.GoVersion)
                fmt.Println("OS / Arch:", version.OsArch)
        },
}